[database]
mongo_uri = mongodb://localhost
dbname = cowrie

[virustotal]
api_type = public
api_key = None

[style]
theme = spacelab.min.css

[auth]
enable = False

[maps]
# https://developers.google.com/maps/documentation/javascript/get-api-key
api_key = please enter your key

[shodan]
enabled = False
api_key =