{% extends "base.html" %}
{% load staticfiles %}
{% load customtags %}

{% block title %}Mollusc{% endblock %}


{% block content %}

    {% if reqauth %}

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Authentication Required.</h3>
    </div>

    <div class="panel-body">
        <p>The Administrator of the platform has enabled authentication.</p>
            <form class="form-inline center-block" action="/login/" method="post">
              <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="UserName">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default">Sign in</button>
              {% csrf_token %}
            </form>
    </div>
    </div>

    {%  else %}

    <!-- Search All -->
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sensors</h3>
    </div>

    <div class="panel-body">
<table id="sensortable" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Sensor</th>
        <th>Sensor IP</th>
        <th>First Session</th>
        <th>Last Session</th>
    </tr>
    </thead>
    <tbody>
    {% for row in sensor_list %}
    <tr>
        <td class="clickable" onclick="document.location = '/sensor/{{row.sensor}}/';">{{ row.sensor }}</td>
        <td class="clickable" onclick="document.location = '/sensor/{{row.sensor}}/';">{{ row.dst_ip }}</td>
        <td class="clickable" onclick="document.location = '/sensor/{{row.sensor}}/';">{{ row.first }}</td>
        <td class="clickable" onclick="document.location = '/sensor/{{row.sensor}}/';">{{ row.last }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
    </div>


<!-- TimeLine -->
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">TimeLine</h3>
    </div>

    <div class="panel-body">
        <div id="timelinetarget" class="container"></div>
    </div>
    </div>

<!-- End TimeLine -->





<!-- List Sessions -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">All Sessions</h3>
    </div>

    <div id="sessiontabletarget"></div>

</div>






    {% endif %}

{% endblock %}

{% block javascript %}
<script>
$( document ).ready(function() {
    datatablesAjax('false');
});
</script>
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/eventDrops.js' %}"></script>

<script>
// TimeLine

var now = Date.now();
var timeShift = 1 * 24 * 60 * 60 * 1000;
var endTime = now + timeShift;
var startTime = now - timeShift;


var data = [
    {{ timeline | safe }}
];


var eventDropsChart = d3.chart.eventDrops();
eventDropsChart.start(new Date(startTime))
        .margin({ top: 60, left: 200, bottom: 40, right: 50 })
        .end(new Date(now))
        .eventLineColor(function(e){return e.color;})

;

d3.select('#timelinetarget')
  .datum(data)
  .call(eventDropsChart)


</script>

{% endblock %}