.long-line {
    table-layout: fixed;
    word-wrap: break-word;
}

.overflow {
    overflow-x: auto;
}


.logo {
    margin-top: -19px;
}

.clickable {
  cursor: pointer;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    .custom-class {
        width: 70%; /* either % (e.g. 60%) or px (400px) */
    }
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/*

Loading Graphic
http://cssload.net/

*/

#OuterBarG{
	height:23px;
	width:180px;
	border:1px solid rgb(122,149,230);
	overflow:hidden;
	background-color:rgb(255,255,255);
	margin:auto;
	background: gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(122,149,230)));
		background: -o-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(122,149,230)));
		background: -ms-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(122,149,230)));
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(122,149,230)));
		background: -moz-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(122,149,230)));
	background: linear-gradient(top, rgb(255,255,255), rgb(70,89,181));
		background: -o-linear-gradient(top, rgb(255,255,255), rgb(70,89,181));
		background: -ms-linear-gradient(top, rgb(255,255,255), rgb(70,89,181));
		background: -webkit-linear-gradient(top, rgb(255,255,255), rgb(70,89,181));
		background: -moz-linear-gradient(top, rgb(255,255,255), rgb(70,89,181));
}

.BarLineG{
	background-color:rgb(255,255,255);
	float:left;
	width:16px;
	height:135px;
	margin-right:27px;
	margin-top:-32px;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

.AnimationG {
	width:266px;
	animation-name:AnimationG;
		-o-animation-name:AnimationG;
		-ms-animation-name:AnimationG;
		-webkit-animation-name:AnimationG;
		-moz-animation-name:AnimationG;
	animation-duration:0.845s;
		-o-animation-duration:0.845s;
		-ms-animation-duration:0.845s;
		-webkit-animation-duration:0.845s;
		-moz-animation-duration:0.845s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
		-o-animation-timing-function:linear;
		-ms-animation-timing-function:linear;
		-webkit-animation-timing-function:linear;
		-moz-animation-timing-function:linear;
}



@keyframes AnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-43px;
	}
}

@-o-keyframes AnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-43px;
	}
}

@-ms-keyframes AnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-43px;
	}
}

@-webkit-keyframes AnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-43px;
	}
}

@-moz-keyframes AnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-43px;
	}
}

/* End Loading */